
.badge-container#nodeico
  .title
    h3 NodeICO
  .content

    .input-group
      span.input-group-addon NPM Package
      input#package.form-control(type="text", value="express")

    .output
      | Paste into your Markdown
      textarea
    .preview
      | and you should see
      .preview-box

    .info
      For the more details, please visit <a href="https://nodei.co/">https://nodei.co/</a>
