
.badge-container#travis
  .title
    h3 Travis CI
  .content

    .input-group
      span.input-group-addon Github Username
      input#username.form-control(type="text", value="jpillora")
    .input-group
      span.input-group-addon Project Name
      input#project.form-control(type="text", value="pnode")

    .output
      | Paste into your Markdown
      textarea
    .preview
      | and you should see
      .preview-box

    .info
      For the more details, please visit <a href="http://about.travis-ci.org/docs/user/status-images/">http://about.travis-ci.org/docs/user/status-images/</a>
