
.badge-container#twitter
  .title
    h3 Twitter Button
  .content
    .input-group
      span.input-group-addon Text
      input#text.form-control(type="text", value="Add all the badges to your Githubs!")

    .input-group
      span.input-group-addon URL
      input#url.form-control(type="text", value="https://github.com/jpillora/github-badge-maker")

    .input-group
      span.input-group-addon #tags
      input#hashtags.form-control(type="text", value="github")

    .output
      | Paste into your Markdown
      textarea
    .preview
      | and you should see
      .preview-box